/dts-v1/;
#include "armada-388.dtsi"
#include <dt-bindings/gpio/gpio.h>

// TODO:
// - LED/i2c devices
// - AHCI

/ {
	model = "Netgate SG3100";
	compatible = "netgate,sg3100", "marvell,armada388",
		"marvell,armada385", "marvell,armada380";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x00000000 0x80000000>; /* 2GiB */
	};

	soc {
		ranges = <
			MBUS_ID(0xf0, 0x01) 0 0xf1000000 0x100000
			MBUS_ID(0x01, 0x1d) 0 0xfff00000 0x100000
			MBUS_ID(0x09, 0x19) 0 0xf1100000 0x10000
			MBUS_ID(0x09, 0x15) 0 0xf1110000 0x10000
			>;
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
	pinctrl-0 = <&uart1_pins>;
	pinctrl-names = "default";
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
	clock-frequency = <200000>;

/*
	pca95520 {
		compatible = "nxp,pca9552";
		reg = <0x60>;
		gpio-controller;
		#gpio-cells = <2>;
	};
*/

/*
	is31f13199 {
		compatible = "issi,is31f13199";
		reg = <0x67>;
		gpio-controller;
		#gpio-cells = <2>;
	};
*/
};

&sdhci {
	status = "okay";
	no-1-8-v;
	dat3-cd;
	cd-inverted;
	wp-inverted;
	bus-width = <0x08>;
};

/ {
	usb3_1_phy: usb3_1_phy {
		compatible = "usb-nop-xceiv";
		vcc-supply = <&usb3_1_vbus>;
	};

	usb3_1_vbus: regulator-usb1-vbus {
		compatible = "regulator-fixed";
		pinctrl-0 = <&usb3_1_vbus_pins>;
		pinctrl-names = "default";
		gpios = <&gpio1 0x1 GPIO_ACTIVE_HIGH>;
		regulator-name = "usb3_1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
	};
};

&usb0 {
	status = "okay";
};

&usb3_1 {
	status = "okay";
	usb-phy = <&usb3_1_phy>;
};

&pciec {
	status = "okay";
	/* mini-PCIe */
	pcie@1,0 {
		status = "okay";
	};

	/* M.2 E */
	pcie@2,0 {
		status = "okay";
	};
};

/* J10 - M.2 B?, 2280 */
/* J11 - M.2 B (w/USB)?, 2242 */
&ahci0 {
	status = "okay";
};

&eth0 {
	status = "okay";
	phy = <&phy0>;
	phy-mode = "rgmii-id";
};

&eth1 {
	status = "okay";
	phy = <&phy1>;
	phy-mode = "rgmii-id";
};

&eth2 {
	status = "okay";
	phy-mode = "sgmii";
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&pinctrl {
	usb3_1_vbus_pins: usb3_1-vbus-pins {
		marvell,pins = "mpp33";
		marvell,function = "gpio";
	};
};

&mdio {
	status = "okay";
	pinctrl-0 = <&mdio_pins>;
	pinctrl-names = "default";

	phy0: ethernet-phy@0 {
		status = "okay";
		reg = <0>;
	};

	phy1: ethernet-phy@1 {
		status = "okay";
		reg = <1>;
	};

	switch0: switch0@10 {
		compatible = "marvell,mv88e6141", "marvell,mv88e6085";
		single-chip-address;
		reg = <0x10>; /* first port in single address mode */
		dsa,member = <0 0>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@1 {
				reg = <1>;
				label = "lan1";
				phy-mode = "gmii";
				phy-handle = <&switch0phy0>;
			};

			port@2 {
				reg = <2>;
				label = "lan2";
				phy-mode = "gmii";
				phy-handle = <&switch0phy1>;
			};

			port@3 {
				reg = <3>;
				label = "lan3";
				phy-mode = "gmii";
				phy-handle = <&switch0phy2>;
			};

			port@4 {
				reg = <4>;
				label = "lan4";
				phy-mode = "gmii";
				phy-handle = <&switch0phy3>;
			};

			port@5 {
				reg = <5>;
				label = "cpu";
				ethernet = <&eth2>;
				phy-mode = "sgmii";
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};

		mdio {
			#address-cells = <1>;
			#size-cells = <0>;

			switch0phy0: switch0phy0@11 {
				reg = <0x11>;
			};

			switch0phy1: switch0phy1@12 {
				reg = <0x12>;
			};

			switch0phy2: switch0phy2@13 {
				reg = <0x13>;
			};

			switch0phy3: switch0phy3@14 {
				reg = <0x14>;
			};
		};
	};
};
